// Color palette
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;
$color-badge: #ffffff;
$color-list: #1b0760;
$icon-container-bg: #f3f9fa;
$color-border: #cccccc;

// Typography
$font-family: "Inter", Arial, Helvetica, sans-serif;

// Breakpoints
$desktop-bp: 1024px;
$tablet-bp: 768px;

// Other
$border-radius: 30px;
